<!DOCTYPE html>
<html data-ng-app>
<head>
    <meta charset="utf-8">
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/cards.css' rel='stylesheet' />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>
<body>
<div id="container">
<aside>
     <div id="sidebar"  class="nav-collapse ">
         <h1 class="title">
           Futurekit technologies<br>
           <small><a href="#">futurek.it</a> - <a href="http://twitter.com/futurefuturekit">@futurefuturekit</a></small>
            <br />
            <small>Search by name: <input type="text" class="form-control" ng-model="search.name"></small>
         <h1>
     
     </div>
</aside>
    <div class="row" id="main-content">
        <div class="col-sm-12 col-lg-12" data-ng-controller="chemCtrl">


         <div class="col-md-4 col-sm-6" data-ng-repeat="card in periodic.cards | filter:search " >
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                             <img src="{{card.image}}">
                        </div>
                
                        <div class="content">
                            <div class="main">
                                <h3 class="name"> {{card.name}}</h3>
                              
                                <p class="description">{{card.description}}</p>
                            </div>
                            <div class="footer">
                               
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                       
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
       
    </div> 



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="js/elements.js"></script>

</body>
<script>
    function chemCtrl($scope) {
     $scope.periodic = periodicData; 
    

    
}



</script>
</html>